{% extends 'base.html' %}

{% block content %}

<div class="alert alert-primary" role="alert">
    <h4>Comparative search for expenses</h4>
</div>
<br>

<form method="post" enctype="multipart/form-data" name="search_form">
<div style="padding-left: 150px; padding-right: 50px; display: inline-block; vertical-align: top;">
      <fieldset class="form-group">
        <legend class="alert alert-primary"><h6>Enter selections for search of the expenses lines</h6></legend><br>
        {% csrf_token %}
        {{ form.as_p }}
      </fieldset>
  <hr>
<div class="form-group">
        <button class="btn btn-primary" type="submit">Search</button>
        <a class="btn btn-primary" href="{% url 'search-expenses-select' %}">New search</a>
        <button class="btn btn-primary" onclick="window.print();">Save tables in PDF</button>
        <a class="btn btn-secondary" href="{% url 'user-expenses-lines' %}">List of expenses</a>
        <a class="btn btn-dark" href="{% url 'home' %}">Home page</a>
      </div>
</div>

<div style="padding-left: 50px; padding-right: 150px; display: inline-block; vertical-align: top;">
      <fieldset class="form-group">
        <legend class="alert alert-primary"><h6>Enter selections for comparative search</h6></legend><br>
        {% csrf_token %}
        {{ second_form.as_p }}
      </fieldset>
  <hr>

    <span class="form-text">Select a time period for each search.</span>
    <span class="form-text">Category, source and bank act as additional criteria.</span>
    <span class="form-text">Same buttons for both forms.</span>

</div>

</form>
<hr>


<div style="padding-left: 50px; padding-right: 50px; display: inline-block; vertical-align: top;">
  {% if expenses %}
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th>Expenses date</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Source</th>
        <th>Bank</th>
      </tr>
    </thead>
    <tbody>
        {% for line in expenses %}
          <tr class="table-light">
            <td>{{ line.date }}</td>
            <td>{{ line.amount }}</td>
            <td class="column">{{ line.category }}</td>
            <td class="column">{{ line.seller }}</td>
            <td>{{ line.bank }}</td>
          </tr>

        {% endfor %}
      </tbody>
    </table>

{% else %}
    <div class="alert alert-primary" role="alert">
        There are currently no expenses lines found.
    </div>
      {% endif %}
</div>


<div style="padding-left: 0px; padding-right: 50px; display: inline-block; vertical-align: top;">

  {% if expenses_to_compare %}
    <table class="table">
      <thead>
        <tr class="table-primary" >
              <th>Expenses date</th>
              <th>Amount</th>
              <th>Category</th>
              <th>Source</th>
              <th>Bank</th>
        </tr>
      </thead>
      <tbody>
        {% for line in expenses_to_compare %}
          <tr class="table-light">
            <td>{{ line.date }}</td>
            <td>{{ line.amount }}</td>
            <td class="column">{{ line.category }}</td>
            <td class="column">{{ line.seller }}</td>
            <td>{{ line.bank }}</td>
          </tr>

        {% endfor %}
      </tbody>
    </table>




{% else %}
    <div class="alert alert-primary" role="alert">
        There are currently no expenses lines for comparison found.
    </div>
      {% endif %}
</div>


<div style="padding-left: 0px; padding-right: 50px; display: inline-block; vertical-align: top;">
  <table class="table">
    <thead>
      <tr>
        <th class="table-primary">Key data from the comparative search:</th>
      </tr>
    </thead>
    <tbody>


      <tr class="table-light">
        <td><strong>First search</strong> | <strong>second search</strong></td>
      </tr>
      <tr class="table-light">
        <td>Total expenses lines created: <strong>{{ all_expenses_lines }}</strong> </td>
      </tr>
      <tr class="table-light">
        <td>Selected lines: <strong>{{ num_expenses_lines }}</strong> | <strong>{{ num_expenses_lines_compare }}</strong></td>
      </tr>

      <tr class="table-light">
        <td>Average amount: <strong>{{ avg_expenses }}</strong> EUR |  <strong>{{ avg_expenses_compare }}</strong> EUR</td>
      </tr>
      <tr class="table-light">
        <td>Max. amount: <strong>{{ max_expenses }}</strong> EUR |  <strong>{{ max_expenses_compare }}</strong> EUR</td>
      </tr>
      <tr class="table-light">
        <td>Min. amount: <strong>{{ min_expenses }}</strong> EUR |  <strong>{{ min_expenses_compare }}</strong> EUR</td>
      </tr>
      <tr class="table-light">
        <td>Total amount: <strong>{{ total_expenses }}</strong> EUR |  <strong>{{ total_expenses_compare }}</strong> EUR</td>
      </tr>
      <tr class="table-light">
        <td>The difference: <strong>{{ amount_difference }}</strong> EUR</td>

    </tbody>
  </table>
  <br>
</div>

{% endblock %}