{% extends "base.html" %}

{% block content %}
    <div class="alert alert-primary" role="alert">
        <h4>Income source: {{ income_sources.source }}, client: {{ income_sources.earner }}</h4>
    </div>
    <br>

{% if income_sources.earner == user %}
    <div class="form-group" style="padding-left: 50px; padding-right: 50px;">
        <a class="btn btn-outline-danger" href="{% url 'income-source-delete' object.id %}">Delete</a>
        <a class="btn btn-outline-secondary" href="{% url 'income-source-update' object.id %}">Update</a>
        <a class="btn btn-outline-primary" href="{% url 'user-income-sources' %}">Back to the list</a>
        <a class="btn btn-outline-dark" href="{% url 'home' %}">Home page</a>
        {% endif %}
    </div>
        <hr>

{% endblock %}