{% extends "base.html" %}

{% block content %}
    <div class="alert alert-primary" role="alert">
        <h4>Income category: {{ income_categories.definition }}, client: {{ income_categories.client }}</h4>
    </div>
    <br>

{% if income_categories.client == user %}
    <div class="form-group" style="padding-left: 50px; padding-right: 50px;">
        <a class="btn btn-outline-danger" href="{% url 'income-category-delete' object.id %}">Delete</a>
        <a class="btn btn-outline-secondary" href="{% url 'income-category-update' object.id %}">Update</a>
        <a class="btn btn-outline-primary"  href="{% url 'user-income-categories' %}">Back to the list</a>
        <a class="btn btn-outline-dark" href="{% url 'home' %}">Home page</a>
        {% endif %}
    </div>
        <hr>

{% endblock %}